In [1]:
import pandas as pd
from bayesian_net import BayesNet

In [2]:
df1 = pd.read_excel("labour_study_source_data.xlsx")
df2 = pd.read_excel("labour_study_target_data.xlsx")

In [3]:
df1.columns

Index(['OG _INTNR', 'personal_income_range', 'personal_income_mid',
       'willingness_pay_rent_range', 'willingness_pay_rent_mid',
       'household_income', 'urban_rural', 'state_code', 'gender',
       'employment_status', 'salary_deductions', 'employment_classification',
       'employment_industry', 'residence_origin', 'migration_status',
       'migration_type', 'migrant_classification', 'employment_interest',
       'sector_interest', 'govt_job_preparation', 'marital_status',
       'education_level', 'age', 'experience_years'],
      dtype='object')

In [57]:
income_cat = df1["personal_income_range"].unique()
rent_cat = df1["willingness_pay_rent_range"].unique()

In [5]:
# income_cat, rent_cat

In [58]:
d_ic = {k:v for v,k in enumerate(income_cat)}
d_rent = {k:v for v,k in enumerate(rent_cat)}

In [7]:
# d_ic, d_rent

In [8]:
# df1["income"] = df1["personal_income_range"].map(d_ic)
# df1["rent"] = df1["willingness_pay_rent_range"].map(d_rent)

In [9]:
# df1.to_excel("labor_source.xlsx",index=False)

In [43]:
# profs = [
#         'URBANRURAL', 'STATE_CODE', 'VBB', 'VBF', 'VBM', 'VBG',
#         'VBH', 'VBJ', 'VBK', 'VBL', 'VGQ', 'VBP', 'VHT', 'VGB', 'VGC'
#     ]
profs = [
        'URBANRURAL', 'STATE_CODE', 'VBB', 'VBF', 'VBM', 'VBG',
         'VHT', 'VGB', 'VGC'
    ]
target_vars = ["Income","rent"]
d = {
        'URBANRURAL': 'urban_rural',
        'STATE_CODE': 'state_code', 
        'VBB': 'gender', 
        'VBF': 'employment_status', 
        'VBM': 'employment_classification', 
        'VBG': 'employment_industry',        
        'VBH': 'residence_origin', 
        'VBJ': 'migration_status', 
        'VBK': 'migration_type', 
        'VBL': 'migrant_classification', 
        'VGQ': 'employment_interest', 
        'VBP': 'sector_interest', 
        'VHT': 'govt_job_preparation', 
        'VGB': 'marital_status', 
        'VGC': 'education_level',
        'VBC': 'age', 
        'VHN': 'experience_years',
        'VBD': 'personal_income_mid', 
        'VDD': 'willingness_pay_rent_mid'
    }    
new_profs = [d[k] for k in profs]

In [14]:
df1[new_profs].head()

,urban_rural,state_code,gender,employment_status,employment_classification,employment_industry,residence_origin,migration_status,migration_type,migrant_classification,employment_interest,sector_interest,govt_job_preparation,marital_status,education_level
0,Urban,Tamil Nadu,Female,Helping in family business for no salary,Employed,"Others, please specify",No,Migrant,Yes,Intrastate Migrant,Self-employed (Working alone or with partner/s),Manufacturing / factory,Yes,Not married / single,Graduate
1,Urban,Madhya Pradesh,Female,Salaried / internship / apprenticeship,Employed,Other services - services such as healthcare (...,Yes,Resident,0,0,Self-employed (Working alone or with partner/s),Manufacturing / factory,No,Married,School - 5 to 9 years
2,Urban,Madhya Pradesh,Female,Not working currently but seeking and / or ava...,Unemployed,0,No,Migrant,Yes,Intrastate Migrant,"Others, please specify","Others, please specify",No,Married,Higher secondary
3,Urban,Madhya Pradesh,Male,Casual labour,Employed,Hotel & restaurant,Yes,Resident,0,0,Salaried,Manufacturing / factory,No,Not married / single,Higher secondary
4,Rural,Madhya Pradesh,Female,Not working currently but seeking and / or ava...,Unemployed,0,No,Migrant,Yes,Intrastate Migrant,Casual labour,Other services - services such as healthcare (...,No,Married,Secondary

In [44]:
new_profs, target_vars

(['urban_rural',
  'state_code',
  'gender',
  'employment_status',
  'employment_classification',
  'employment_industry',
  'govt_job_preparation',
  'marital_status',
  'education_level'],
 ['Income', 'rent'])

In [48]:
bbn = BayesNet(new_profs[:5],target_vars)

In [49]:
data = bbn.simulate_data()

  0%|          | 0/1000000 [00:00<?, ?it/s]

  0%|          | 0/1000000 [00:00<?, ?it/s]

In [17]:
data

array([[5., 0.],
       [2., 1.],
       [3., 6.],
       ...,
       [3., 0.],
       [7., 6.],
       [6., 3.]], shape=(2936, 2))

In [50]:
tdf = pd.DataFrame(data,columns=["income","rent"])

In [51]:
tdf.head()

   income  rent
0     2.0   1.0
1     3.0   1.0
2     3.0   1.0
3     6.0   5.0
4     2.0   4.0

In [54]:
for v in tdf.columns:
    tdf[v] = tdf[v].apply(int)

In [55]:
tdf.head()

   income  rent
0       2     1
1       3     1
2       3     1
3       6     5
4       2     4

In [59]:
d_ic, d_rent

({'₹5,001 – ₹7,500': 0,
  '₹12501 – ₹15,000': 1,
  '₹3,001 – ₹5,000': 2,
  '0 - Respondent is unemployed or not earning': 3,
  '₹1,001 – ₹3,000': 4,
  '₹7,501 – ₹10,000': 5,
  '₹10,001 – ₹12500': 6,
  '₹15,001 – ₹17,500': 7,
  '₹17501 – ₹20,000': 8,
  'Up to ₹1,000': 9},
 {'₹ 2,001 – 3,000': 0,
  '₹ 1,001 – 1,500': 1,
  'More than ₹ 5,000': 2,
  '₹ 3,001 - 4,000': 3,
  '₹ 1,501 – 2,000': 4,
  '₹ 4,001 – 5,000': 5,
  'Less than 1,000': 6})

In [60]:
d_in_rev = {v:k for k,v in d_ic.items()}
d_rent_rev = {v:k for k,v in d_rent.items()}

In [61]:
d_in_rev, d_rent_rev

({0: '₹5,001 – ₹7,500',
  1: '₹12501 – ₹15,000',
  2: '₹3,001 – ₹5,000',
  3: '0 - Respondent is unemployed or not earning',
  4: '₹1,001 – ₹3,000',
  5: '₹7,501 – ₹10,000',
  6: '₹10,001 – ₹12500',
  7: '₹15,001 – ₹17,500',
  8: '₹17501 – ₹20,000',
  9: 'Up to ₹1,000'},
 {0: '₹ 2,001 – 3,000',
  1: '₹ 1,001 – 1,500',
  2: 'More than ₹ 5,000',
  3: '₹ 3,001 - 4,000',
  4: '₹ 1,501 – 2,000',
  5: '₹ 4,001 – 5,000',
  6: 'Less than 1,000'})

In [62]:
tdf["income"] = tdf["income"].map(d_in_rev)
tdf["rent"] = tdf["rent"].map(d_rent_rev)

In [63]:
tdf.head()

                                        income             rent
0                              ₹3,001 – ₹5,000  ₹ 1,001 – 1,500
1  0 - Respondent is unemployed or not earning  ₹ 1,001 – 1,500
2  0 - Respondent is unemployed or not earning  ₹ 1,001 – 1,500
3                             ₹10,001 – ₹12500  ₹ 4,001 – 5,000
4                              ₹3,001 – ₹5,000  ₹ 1,501 – 2,000

In [64]:
tdf.columns = ["predicted_income_cat","predicted_rent_cat"]

In [65]:
tdf.head()

                          predicted_income_cat predicted_rent_cat
0                              ₹3,001 – ₹5,000    ₹ 1,001 – 1,500
1  0 - Respondent is unemployed or not earning    ₹ 1,001 – 1,500
2  0 - Respondent is unemployed or not earning    ₹ 1,001 – 1,500
3                             ₹10,001 – ₹12500    ₹ 4,001 – 5,000
4                              ₹3,001 – ₹5,000    ₹ 1,501 – 2,000

In [66]:
df_target_updated = pd.concat([df2,tdf],axis=1)

In [67]:
df_target_updated.head()

,OG _INTNR,urban_rural,state_code,gender,employment_status,salary_deductions,employment_classification,employment_industry,residence_origin,migration_status,...,migrant_classification,employment_interest,sector_interest,govt_job_preparation,marital_status,education_level,age,experience_years,predicted_income_cat,predicted_rent_cat
0,18,Urban,Madhya Pradesh,Female,"Others, please specify",NaN,Employed,"Others, please specify",Yes,Resident,...,NaN,"Others, please specify",Other services - services such as healthcare (...,No,Married,School - 5 to 9 years,38,2,"₹3,001 – ₹5,000","₹ 1,001 – 1,500"
1,23,Urban,Madhya Pradesh,Female,Salaried / internship / apprenticeship,2000.0,Employed,Other services - services such as healthcare (...,Yes,Resident,...,NaN,Self-employed (Working alone or with partner/s),Other services - services such as healthcare (...,No,Married,School - 5 to 9 years,34,4,0 - Respondent is unemployed or not earning,"₹ 1,001 – 1,500"
2,28,Urban,Madhya Pradesh,Female,Helping in family business for no salary,NaN,Employed,"Others, please specify",Yes,Resident,...,NaN,Helping in family business for no salary,"Others, please specify",No,Married,School - 5 to 9 years,30,2,0 - Respondent is unemployed or not earning,"₹ 1,001 – 1,500"
3,30,Urban,Madhya Pradesh,Male,Casual labour,NaN,Employed,Construction,Yes,Resident,...,NaN,Casual labour,Construction,No,Married,School - 5 to 9 years,40,25,"₹10,001 – ₹12500","₹ 4,001 – 5,000"
4,34,Urban,Madhya Pradesh,Female,Casual labour,NaN,Employed,Other services - services such as healthcare (...,Yes,Resident,...,NaN,Salaried,Other services - services such as healthcare (...,No,Married,School - up to 4 years,40,20,"₹3,001 – ₹5,000","₹ 1,501 – 2,000"

In [68]:
df_target_updated.to_excel("predicted income and rent category.xlsx",index=False)